@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptHeader
{
    <script src="~/app/controllers/mesaController.js"></script>
    <script src="~/app/controllers/menuController.js"></script>
    <script src="~/app/controllers/categoriaController.js"></script>
    <script src="~/app/controllers/pratoController.js"></script>
}
<div class="container">
    <div ng-view></div>
</div>
